<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items Listings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/css/list.css' %}">
</head>
<body>
    <h1>Items Listings</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Enrollment No</th>
                <th>Phone No</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Image</th>
                <th>Location</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in matched_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.enrollment_no }}</td>
                    <td>{{ item.phone_no }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_description }}</td>
                    <td><img src="{{ item.imageURL }}" alt="{{ item.item_name }}" style="max-width: 100px;"></td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
