<!-- student_signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/static/css/login.css' %}">
</head>
<body>
    <h2>Student Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="enrolment_no">Enrolment No:</label>
        <input type="text" autocomplete="off" id="enrolment_no" name="enrolment_no" required>
        <label for="password">Password:</label>
        <input type="password" autocomplete="off" id="password" name="password" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
