@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Hide the menu icon by default */
.menu-icon {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
  }

  @media only screen and (max-width: 768px) {
    .contact {
        flex-direction: column; /* Change to vertical layout for smaller screens */
    }

    .contact .left,
    .contact .right {
        margin: 0 auto; /* Remove margin between left and right sections */
        width: 100%; /* Make both sections take full width */
    }

    .contact form,
    .contact .right {
        margin-bottom: 30px; /* Add some space between sections */
    }
}

/* Add this media query for smaller screens */
@media only screen and (max-width: 768px) {
    header nav ul {
        display: none; /* Hide the menu by default */
        flex-direction: column; /* Stack menu items vertically */
        position: absolute;
        top: 60px; /* Adjust top position to match header height */
        left: 0;
        background-color: #232323; /* Background color */
        width: 100%;
    }

    header nav ul.open {
        display: flex; /* Display the menu when open */
    }

    header nav ul li {
        display: block;
        margin: 10px 0; /* Adjust margin */
    }

    .menu-icon {
        display: block; /* Display the menu icon */
    }
    
}

/* Add this transition for smooth animation */
header nav ul {
    transition: all 0.3s ease;
}

body {
    font-family: "Nunito", sans-serif; /* Change default font family */
    background-color: #292929; /* Body background color */
    margin: 0;
    padding: 0;
    color: white; /* Text color */
}

header {
    background-color: #232323; /* Change background color to #232323 */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjusted padding */
    text-align: center;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    box-shadow: 0 0 19px 8px rgba(0, 0, 0, 0.4); /* Stronger shadow with blur */
    font-family: "Open Sans", sans-serif;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin */
    transition: transform 0.3s, background-color 0.3s; /* Transition effect */
}

nav ul li a {
    color: #2059D4; /* Text color */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Adjusted font size */
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 5px;
}

nav ul li a:hover {
    transform: translateY(-2px); /* Move the link up slightly */
    background-color: #cecccc; /* Darker shade of highlight color */
}

nav ul li a.btn {
    background-color: #2059D4; /* Button background color */
    color: #fff; /* Button text color */
}

.main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0 20px; /* Adjusted padding */
}

.btn {
    display: inline-block;
    width: 200px; /* Increased width */
    padding: 10px 20px; /* Adjusted padding */
    background-color: #3884FD;
    color: #fff;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 400;
    transition: background-color 0.3s ease;
    margin-right: 20px; /* Adjusted margin */
}

.btn:hover {
    background-color: #1d5bbf; /* Darker shade of highlight color */
}

.btn2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    width: 200px; /* Increased width */
    padding: 10px 20px; /* Adjusted padding */
    border-radius: 16px;
    background-color: #797979;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn2:hover {
    background-color: #565656; /* Darker shade of highlight color */
}

.features {
    margin-top: 50px;
    background-color: #232323; /* Background color */
    text-align: center; /* Center align text */
    padding: 50px 0; /* Adjusted padding */
}

.features h2 {
    font-size: 24px; /* Adjusted font size */
    color: white; /* Text color */
}

.fSec {
    display: flex;
    justify-content: space-around;
}

.feature {
    position: relative; /* Position relative for absolute positioning */
    width: calc(100% / 3 - 20px); /* Adjusted width */
    max-width: 300px; /* Maximum width */
    padding: 20px; /* Padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: left; /* Align text left */
}

.number {
    position: absolute;
    top: 50%;
    font-weight: 900;
    left: -30px; /* Adjusted left position */
    width: 20px; /* Width of the number */
    transform: translate(-50%, -50%) rotate(-90deg); /* Rotate the number and center it vertically and horizontally */
    color: white; /* Text color */
}

.feature h3 {
    margin-left: 20px; /* Adjusted margin left to make space for the number */
    color: white; /* Text color */
}

.feature p {
    margin-left: 20px; /* Adjusted margin left to make space for the number */
    color: white; /* Text color */
}

footer {
    background-color: #ddd; /* Light gray */
    color: #666; /* Dark gray */
    text-align: center;
    padding: 20px;
    /* position: fixed; */ /* Removed sticky footer */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
}

.lost {
    color: #B0B0B0; /* Color for "Lost" */
}

.spot {
    color: #4D82F4; /* Color for "Spot" */
}

.hero h1 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 6vw; /* Use vw (viewport width) unit for responsive font size */
    color: #fff; /* Text color */
    letter-spacing: 4px;
    margin-bottom: 20px; /* Adjusted margin bottom */
}

.hero p {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    letter-spacing: 4px;
    font-style: italic;
}

header img {
    width: 60px;
}

@media only screen and (max-width: 768px) {
    .fSec {
        display: flex;
        flex-direction: column; /* Align child divs vertically */
        align-items: center; /* Center align child divs horizontally */
    }

    .btn,
    .btn2 {
        margin: 10px 0; /* Add margin to separate buttons */
    }
}

@media only screen and (max-width: 768px) {
    .number {
        display: none; /* Hide the number on mobile screens */
    }

    .feature {
        width: calc(100% - 40px); /* Increase the width of the feature div */
    }
}


.contact-section {
    text-align: center;
    padding: 50px 0;
}

.contact h1 {
    font-size: 6vw;
    color: white;
}

.contact {
    display: flex;
    justify-content: space-between; /* Align child divs with space between */
    align-items: center; /* Center align vertically */
    margin-top: 50px;
}

.contact .left {
    flex: 1; /* Take up available space */
    margin-right: 20px; /* Add margin between left and right divs */
    display: flex; /* Add display flex */
    justify-content: center; /* Center the form horizontally */
}


.contact .right {
    flex: 1; /* Take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    max-width: 400px;
    margin-right: 20px;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.contact form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    /* Adjust the height of the textarea */
    height: 150px; /* Set the height to your desired value */
    /* Allow the textarea to resize vertically if needed */
    resize: vertical;
}


.contact form button {
    width: 105%;
    padding: 10px;
    background-color: #3884FD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #1d5bbf;
}

.contact .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .right .gph img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.contact .right .contacts p {
    color: white;
    margin-bottom: 10px;
}

/* Add styles for footer */
footer {
    background-color: #ddd;
    color: #666;
    text-align: center;
    padding: 20px;
}

.gph img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    /* Add animation */
    animation: floatAnimation 3s ease-in-out infinite; /* Change the duration and timing function as needed */
}

/* Define the animation */
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the value to control the float distance */
    }
    100% {
        transform: translateY(0);
    }
}
