/* Hide the menu icon by default */
.menu-icon {
    display: none;
}

/* Add this media query for smaller screens */
@media only screen and (max-width: 768px) {
    header nav ul {
        display: none; /* Hide the menu by default */
        flex-direction: column; /* Stack menu items vertically */
        position: absolute;
        top: 60px; /* Adjust top position to match header height */
        left: 0;
        background-color: #232323; /* Background color */
        width: 100%;
    }

    header nav ul.open {
        display: flex; /* Display the menu when open */
    }

    header nav ul li {
        display: block;
        margin: 10px 0; /* Adjust margin */
    }

    .menu-icon {
        display: block; /* Display the menu icon */
    }
}

/* Add this transition for smooth animation */
header nav ul {
    transition: all 0.3s ease;
}


body {
    font-family: Arial, sans-serif;
    background-color: #232323; /* Body background color */
    margin: 0;
    padding: 0;
    color: white; /* Text color */
}

header {
    background-color: white; /* Background color */
    color: #000; /* Text color */
    padding: 10px 20px; /* Adjusted padding */
    text-align: center;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin */
    transition: transform 0.3s, background-color 0.3s; /* Transition effect */
}

nav ul li a {
    color: #2059D4; /* Text color */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Adjusted font size */
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 5px;
}

nav ul li a:hover {
    transform: translateY(-2px); /* Move the link up slightly */
    background-color: #cecccc; /* Darker shade of highlight color */
}

nav ul li a.btn {
    background-color: #2059D4; /* Button background color */
    color: #fff; /* Button text color */
}

.main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3884FD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1d5bbf; /* Darker shade of highlight color */
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B0B0B0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn2:hover {
    background-color: #797979; /* Darker shade of highlight color */
}

.features {
    margin-top: 50px;
}

.features h3 {
    text-align: center;
}

.features ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.features li {
    margin-bottom: 10px;
}

footer {
    background-color: #ddd; /* Light gray */
    color: #666; /* Dark gray */
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.lost {
    color: #B0B0B0; /* Color for "Lost" */
}

.spot {
    color: #4D82F4; /* Color for "Spot" */
}

.hero h1 {
    font-family: 'nunito';
    font-size: 36px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    /* Add any other styles you want to apply to the <h1> element */
}

header img{
    width: 60px;
}